.photofeeditem__container {
  padding: 0 10px 30px;
  box-sizing: border-box;
  flex: 0 1 25%;
}

.item__header {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;

  .profile-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: contain;
    margin-right: 10px;
  }

  .profile-label {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.27;
    color: rgba(0, 0, 0, 0.74);
  }
}

.item__body {
  position: relative;

  .item__body-toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-flow: row-reverse nowrap;
    padding: 10px;

    .scrap-btn {
      cursor: pointer;
      background: transparent;
      border: 0;
      outline: 0;
      padding: 0;

      .scrap-btn--icon {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }
  }

  .item-image {
    border-radius: 10px;
    width: 100%;
  }
}