@import '../../assets/css/media.scss';

.toolbar__wrapper {
  margin: 0 auto;
  padding: 0 50px;

  @media screen and (max-width: $medium) {
    padding: 0 20px;
  }

  @media screen and (max-width: $small) {
    padding: 0 10px;
  }
}

.toolbar__container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1024px;
  box-sizing: border-box;
}