#snackbar-wrapper {
  position: fixed;
  bottom: 20px;
  padding: 10px 60px;
  margin: 0;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-flow: column-reverse nowrap;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.snackbar-item {
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px 24px;
}

.snackbar-item--label {
  color: white;
  font-weight: bold;
}